[Unit]
Description=Tailscale daemon (homecooking)
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/sbin/tailscaled --tun=userspace-networking --socket=/run/tailscale-homecooking/tailscaled.sock --statedir=/var/lib/tailscale-homecooking --port=0
RuntimeDirectory=tailscale-homecooking
StateDirectory=tailscale-homecooking
Restart=on-failure

[Install]
WantedBy=multi-user.target
